@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Ultra&display=swap");
@import "tailwindcss";

@theme {
  --font-ultra: "Ultra", serif;
  --font-outfit: "Outfit", sans-serif;
}

.container {
  @apply p-10;
}
